# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD
PGADMIN_PORT=

# Redis
REDIS_PASSWORD=
REDIS_PORT=

# RedisInsight
REDISINSIGHT_PORT=